h1.px {
  font-size: 70px;
}


p.button8{
    /* 文字サイズを1.4emに指定 */
3
    font-size: 1.4em;
4
 
5
    /* 文字の太さをboldに指定 */
6
    font-weight: bold;
7
 
8
    /* 縦方向に10px、
9
     * 横方向に30pxの余白を指定 */
10
    padding: 10px 30px;
11
 
12
    /* 文字色を白色に指定 */
13
    color: #fff;
14
 
15
    /* ボーダーをなくす */
16
    border-style: none;
17
 
18
    /* ボタンの影の指定
19
     * 影の横幅を2px
20
     * 縦長を2px
21
     * ぼかしを3px
22
     * 広がりを1px
23
     * 色を#666（グレー）に指定 */
24
    box-shadow: 2px 2px 3px 1px #666;
25
    -moz-box-shadow: 2px 2px 3px 1px #666;
26
    -webkit-box-shadow: 2px 2px 3px 1px #666;
27
 
28
    /* テキストの影の指定
29
     * 影の横幅を1px
30
     * 縦長を1px
31
     * ぼかしを2px
32
     * 色を#000（黒）に指定 */
33
    text-shadow: 1px 1px 2px #000;
34
 
35
    /* グラデーションの指定 */
36
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
37
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));
38
 
39
    /* 角丸の指定 */
40
    -moz-border-radius: 5px;
41
    -webkit-border-radius: 5px;
42
    border-radius: 5px;
43
}
44
 
45
button.button8:hover {
46
    /* 透明度を20%に指定 */
47
    opacity: 0.8;
48
}